node_modules
todo.txt

*.*~
*.od*
*.*-swp
.~lock*
/Classes/**/*.js
/Configuration/**/*.js
/*.js
*.bak
*.kate-swp
.idea
*.xoj

// eclipse trash
.project
/.settings/*
/Test
/Resources/Libraries/TsUnit/
