node_modules
yarn-error.log

todo.txt

*.*~
*.od*
*.*-swp
.~lock*
/Classes/**/*.js
/Configuration/**/*.js
/*.js
*.bak
*.kate-swp
.idea
*.xoj

// eclipse
.project
/.settings/*
/Test
/Resources/Libraries/TsUnit/
